.i{
    background-color:"light";
}

.b{
    text-align: center;
    background-color:#ffffff ;
}

.a{
    background-color: rgb(244, 246, 247);
}

.c{
    color: #565656;
}
.a{
    color: #33047e;
    background-color: #ffffff;
}

.w{
    color: #33047e;
    background-color: #ffffff;
    width: 35px;
    height: 35px;
}

.x{
    color: #33047e;
}

.p{
    font-size: 35px;
}

.t{
    color: #33047e;
    background-color: #ffffff;
    width: 100px;
    height: 80px;
}

