<ion-header class="a">
  <ion-toolbar>
    <img src="http://surl.li/alksi" class="img-fluid" width="90px" height="90px" alt="">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="b">
  <h1 class="p"><strong>Bitcoin + Beneficios para El Salvador</strong> </h1><br>
      <ion-list class="c">
        <ion-item class="c">
          <ion-icon class="t" name="checkmark-sharp"></ion-icon>
          <p class="c">Moneda global: genera apertura inmediata de El Salvador a mercados internacionales, ya que se puede usar en cualquier parte del mundo, sin restricciones ni intermediarios.</p>
        </ion-item>
        <ion-item class="c">
          <ion-icon class="t" name="checkmark-sharp"></ion-icon>
          <p class="c">Ahorro en remesas: al no haber intermediarios, no existen comisiones al enviar dinero. Por lo que los salvadoreños ahorrarían millones de dólares en envío de remesas.</p>
        </ion-item>
        <ion-item class="c">
          <ion-icon class="t" name="checkmark-sharp"></ion-icon>
          <p class="c">Inversión extranjera: al ser una moneda global, permite que inversionistas del exterior puedan venir a invertir sus Bitcoins en El Salvador, mejorando la economía del país.</p>
        </ion-item>
        </ion-list><br><br>
        <img  width="300" height="226" src="assets/chivo13.jpeg" /><br>
        <br><br>
        <ion-chip class="b">
          <ion-icon name="bulb-outline"></ion-icon>
          <p class="c">Interfaz genial</p>
        </ion-chip>
        <h1 class="p"><strong>Chivo es fácil y rápido</strong></h1>
        <p>_________</p>
  <h6 class="c">La Interfaz de Chivo está diseñada para ser sencilla e intuitiva, dándote la funcionalidad que necesitas para tu uso diario, para consumo, remesas y finanzas personales en general.</h6>
  <img  width="250" height="500" src="assets/chivo15.jpeg" /><br>

</div>


</ion-content>
