<ion-header>
  <ion-toolbar>
    <img src="http://surl.li/alksi" class="img-fluid" width="90px" height="90px" alt="">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
  <img  class="layer" width="400" height="400" src="assets/chivo11.jpeg" />

  <div id="container">
    <p>Envia y recibe Bitcoin con Chivo Wallet</p>
    <ion-button color="success" [routerLink]="['/beneficios']">Recarga tu Chivo wallet</ion-button>
    <img  width="200" height="226" src="assets/chivo4.webp" />
    </div><br><br>

    <div class="b">
      <img  width="325" height="226" src="assets/chivo12.jpeg" /><br><br>
      <h1 class="p"><strong>Descubre cómo usar la Chivo Wallet</strong> </h1><br>
      <ion-list >
        <ion-item >
          <p class="c">• Descarga la aplicación en tu teléfono móvil Android, iOS o Huawei</p>
        </ion-item>
        <ion-item >
          <p class="c">• Regístrate y obtendrás tu bono de $30 en Bitcoin</p>
        </ion-item>
      </ion-list><br>
    </div>
    <div>
      <ion-chip (click)="ok()"Outline class="n">
        <p class="k">Conoce más</p>
      </ion-chip>
      </div>
      <div><br>
      <ion-chip (click)="recarga()" Outline class="n">
        <p class="k">Cómo recargar</p>
      </ion-chip>
    </div><br>
    <div>
      <ion-chip Outline class="n">
        <p class="k">Puntos Chivo</p>
      </ion-chip>
    </div><br>
    <div>
      <ion-chip Outline class="n">
        <p class="k">Cajeros El Salvador</p>
      </ion-chip>
    </div><br>
    <div>
      <ion-chip Outline class="n">
        <p class="k">Cajeros USA</p>
      </ion-chip>
    </div><br>
    <div class="b">
      <img  width="360" height="260" src="assets/chivo14.jpeg" />
    </div>
    <div class="o">
      <h5 class="x">Municipio: CHALATENANGO</h5>
<h6 class="c">Departamento: CHALATENANGO.

  1a Avenida Nte., Chalatenango
  
  Lunes a sábado 8:00am a 5:00pm. Domingos cerrados</h6>
  <ion-chip Outline class="n">
    <p class="e">Mostrar en el mapa</p>
  </ion-chip>

    </div>

    <div class="ion-margin">
      <h5 class="x">Municipio: SANTA TECLA</h5>
<h6 class="c">Departamento: LA LIBERTAD.

  Entre la 3era avenida sur y 5ta avenida sur. Cerca del Banco Azteca
  
  Lunes a sábado 8:00am a 5:00pm. Domingos cerrados</h6>
  <ion-chip Outline class="n">
    <p class="k">Mostrar en el mapa</p>
  </ion-chip>

    </div>
    <div class="o">
      <h5 class="x">Municipio: SANTA TECLA</h5>
<h6 class="c">Departamento: LA LIBERTAD.

  Av. Balsamar, calle Libertad. Cerca del cementerio Municipal
  
  Lunes a sábado 10:00am a 7:00pm. Domingos cerrados</h6>
  <ion-chip Outline class="n">
    <p class="e">Mostrar en el mapa</p>
  </ion-chip>

    </div>

    <div class="po">
      <h5 class="ci">Descarga Chivo Wallet</h5>
<h6 class="bi">Descarga Chivo Wallet es muy sencillo.<strong>¡sigue los pasos!</strong></h6><br>
      <ion-icon class="ai" name="cloud-download-outline"></ion-icon>
      <h5 class="ci">Descarga la app</h5>
<h4 class="bi">Puedes descargar Chivo en tu teléfono móvil ios, Android o Huawei directamente desde las  tiendas oficiales</h4><br>
<ion-icon class="ai" name="person-outline"></ion-icon>
      <h5 class="ci">Valida tu identidad</h5>
<h4 class="bi">Escanea tu DUI por delante y por detrás, y realiza el reconocimiento facial para verificar tu Identidad</h4><br>
<ion-icon class="ai" name="logo-bitcoin"></ion-icon>
      <h5 class="ci">Recibe tus $30 en BTC</h5>
<h4 class="bi">Ya puedes reclamar tu regalo de $30 en Bitcoin para que puedas usarlos en comida o lo que quieras</h4><br><br><br>
    </div>

    
</ion-content>


